RewriteEngine on

### Companies
RewriteRule ^mis-negocios$ index.php?controller=Companies&method=index [L]
RewriteRule ^mis-negocios/nuevo index.php?controller=Companies&method=create [L]
RewriteRule ^mis-negocios/editar/([0-9]+) index.php?controller=Companies&method=edit&id=$1 [L]
RewriteRule ^mis-negocios/confirm-delete/([0-9]+) index.php?controller=Companies&method=confirm&id=$1 [L]
RewriteRule ^mis-negocios/delete/([0-9]+) index.php?controller=Companies&method=delete&id=$1 [L]
RewriteRule ^mis-negocios/store index.php?controller=Companies&method=store [L]
RewriteRule ^mis-negocios/update index.php?controller=Companies&method=update [L]
RewriteRule ^mis-negocios/([a-z\-]+)$ index.php?controller=Companies&method=show&slug=$1 [L]
RewriteRule ^imagenes/negocios/logo-([a-z\-]+)_w([0-9]+)v([0-9]+).jpg$ index.php?controller=Companies&method=logo&slug=$1&width=$2 [L]
RewriteRule ^imagenes/negocios/default-logo-w([0-9]+)v([0-9]+).jpg$ index.php?controller=Companies&method=defaultLogo&width=$1 [L]

### Branches
RewriteRule ^mis-negocios/([0-9]+)/sucursales/nuevo index.php?controller=Branches&method=create&id_company=$1 [L]
RewriteRule ^mis-negocios/([0-9]+)/sucursales/store$ index.php?controller=Branches&method=store&id_company=$1 [L]
RewriteRule ^mis-negocios/([0-9]+)/sucursales/([0-9]+)/confirm-delete$ index.php?controller=Branches&method=confirmDelete&id_company=$1&id_branch=$2 [L]
RewriteRule ^mis-negocios/([0-9]+)/sucursales/([0-9]+)/delete$ index.php?controller=Branches&method=delete&id_company=$1&id_branch=$2 [L]
RewriteRule ^mis-negocios/([0-9]+)/sucursales/([0-9]+)/edit index.php?controller=Branches&method=edit&id_company=$1&id_branch=$2 [L]
RewriteRule ^mis-negocios/([0-9]+)/sucursales/([0-9]+)/update index.php?controller=Branches&method=update&id_company=$1&id_branch=$2 [L]

### ProductCategory
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos$ index.php?controller=ProductCategory&method=index&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/nueva$ index.php?controller=ProductCategory&method=create&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/store$ index.php?controller=ProductCategory&method=store&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/([0-9]+)/edit$ index.php?controller=ProductCategory&method=edit&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/update$ index.php?controller=ProductCategory&method=update&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/([0-9]+)/confirm-delete$ index.php?controller=ProductCategory&method=confirmDelete&slug=$1&id_product=$2 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/categorias-de-productos/([0-9]+)/delete$ index.php?controller=ProductCategory&method=delete&slug=$1&id_product=$2 [L]

### Products
RewriteRule ^mis-negocios/([a-z\-]+)/productos$ index.php?controller=Products&method=index&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/nuevo$ index.php?controller=Products&method=create&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/store$ index.php?controller=Products&method=store&slug=$1 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/([0-9]+)/confirm-delete$ index.php?controller=Products&method=confirmDelete&slug=$1&id_product=$2 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/([0-9]+)/delete$ index.php?controller=Products&method=delete&slug=$1&id_product=$2 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/([0-9]+)/edit$ index.php?controller=Products&method=edit&slug=$1&id_product=$2 [L]
RewriteRule ^mis-negocios/([a-z\-]+)/productos/([0-9]+)/update$ index.php?controller=Products&method=update&slug=$1&id_product=$2 [L]
RewriteRule ^imagenes/([a-z\-]+)/productos/producto-([0-9]+)_w([0-9]+)v([0-9]+).jpg$ index.php?controller=Products&method=productImage&slug=$1&id_product=$2&width=$3 [L]
RewriteRule ^imagenes/productos/default-producto_w([0-9]+)v([0-9]+).jpg$ index.php?controller=Products&method=defaultImage&width=$1 [L]


### Teams
RewriteRule ^mis-negocios/([0-9]+)/equipo$ index.php?controller=Workers&method=index&id_company=$1 [L]
RewriteRule ^mis-negocios/([0-9]+)/equipo/invitacion$ index.php?controller=Workers&method=workerRequest&id_company=$1 [L]
RewriteRule ^mis-negocios/([0-9]+)/equipo/send-invitacion$ index.php?controller=Workers&method=sendWorkerRequest&id_company=$1 [L]
RewriteRule ^mis-negocios/([0-9]+)/equipo/confirm-remove-adminitration/([0-9]+)$ index.php?controller=Workers&method=confirmRemoveAdministration&id_company=$1&id_worker=$2 [L]
RewriteRule ^mis-negocios/([0-9]+)/equipo/worker/([0-9]+)/delete$ index.php?controller=Workers&method=removeAdministration&id_company=$1&id_worker=$2 [L]
RewriteRule ^mis-negocios/([0-9]+)/equipo/confirm-remove/([0-9]+)$ index.php?controller=Workers&method=confirmRemove&id_company=$1&id_worker=$2 [L]
RewriteRule ^aceptar-invitacion/([0-9]+)/(.+)$ index.php?controller=Workers&method=acceptWorkerRequest&id_company=$1&hash=$2 [L]
RewriteRule ^registro/(.+)$ index.php?controller=Users&method=signUp&hash=$1 [L]

### Frutitas
RewriteRule ^js/frutitas$ index.php?controller=Exercises&method=index [L]